@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{
    font-size: 20px;
}
body{
    background-color: black;
    
    font-family: 'Lato',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F8E6DE;
    overflow-x: hidden;
}
ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3.5rem;
    left: 25rem;
}

.logo {
    height: 90px;
    width: 90px;
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
}

.lists {
    color: #F8E6DE;
    margin: 25px;
    transition: color 0.3s ease;
}

.lists:hover {
    cursor: pointer;
    color: #A98F76;
}

.footer{
    background-color: #100F10;
    display: flex;
    flex-direction: row;
    height: 200px;
    margin: 0;
}
.side1{
    position: relative;
    left: 150px;
}
.side2{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 250px;
}
.socmed{
    width:35px;
    height:35px;
    position: relative;
    left: 50px;
}
.facebook{
    position: relative;
    bottom: 30px;
    left: 90px;
}
.instagram{
    position: relative;
    bottom: 50px;
    left: 90px;
}
.twitter{
    position: relative;
    bottom: 70px;
    left: 90px;
}
.side3{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 500px;
}
.contact{
    width:35px;
    height:35px;
    position: relative;
    left: 0px;
}
.location{
    position: relative;
    bottom: 30px;
    left: 45px;
}
.email{
    position: relative;
    bottom: 30px;
    left: 10px;
}

.about section{
    height: 100vh;    
}

.about h1{
    position: absolute;
    top: 35%;
    left: 25%;
    font-size: 5.5em;
    letter-spacing: 0.2em;
    color: goldenrod;
}

.about h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

 @keyframes animate{
    0%{
        opacity:0;
        transform: rotateY(90deg);
        filter:blur(10px);
    }
    100%{
        opacity:1;
        transform:rotateY(0deg);
        filter: blur(0);
    }
}
.about video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.about h1 span:nth-child(1){
    animation-delay: 0.3s;
}
.about h1 span:nth-child(2){
    animation-delay: 0.5s;
}.about h1 span:nth-child(3){
    animation-delay: 0.7s;
}.about h1 span:nth-child(4){
    animation-delay: 0.9s;
}.about h1 span:nth-child(5){
    animation-delay: 1.1s;
}.about h1 span:nth-child(6){
    animation-delay: 1.3s;
}.about h1 span:nth-child(7){
    animation-delay: 1.4s;
}.about h1 span:nth-child(8){
    animation-delay: 2.5s;
}
.about h1 span:nth-child(9){
    animation-delay: 3s;
}

.pricing-table {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url('assets/planback.png');
    background-size:95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.plan {
    

    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
}
.plan h2 {
    margin-top: 0;
}
.plan p {
    margin-bottom: 20px;
}

.plan img{
    
    animation: glow-in 2.5s ease-in ;

}
